{% load filter_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Quotes catalogue</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    <style>
        .horizontal-list {
            display: inline;
            list-style-type: none;
            padding: 0;
        }
        
        .horizontal-list li {
            display:inline;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<main class="container">
    <!--Navigation-->
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'quotesapp:quote' %}" role="button">Add Quote</a></li>
            <li><a href="{% url 'quotesapp:author' %}" role="button">Add Author</a></li>
            <li><a href="{% url 'quotesapp:tag' %}" role="button">Add Tag</a></li>
        </ul>
        <ul>
            <li>Welcome <b>{{ user.username }}!</b></li>
            <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
            <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
        </ul>
        {% endif %}
    </nav>
    <div style="display: flex;">
        <div>
            {% for quote in page_obj %}
            <ul>
                <li>
                    <figure style="border-left: .25rem solid">
                        <blockquote>
                            <p>{{ quote.quote }}</p>
                        </blockquote>
                        <figcaption> (c) {{quote.author}} 
                            <a href="{% url 'quotesapp:author_detail' quote.author_id %}" role="button" class="outline"> about </a>
                        </figcaption>
                        <div>
                        {% for tag in quote.tags.all %}
                        {% if quote.tags.all %}
                            <ul class="horizontal-list">
                                <li>
                                    <span>
                                        {{ tag }}
                                    </span>              
                                </li>
                            </ul>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </figure>
                </li>
            </ul>
            {% endfor %}
        </div>
        <div>
            {% get_top_tags as top_tags %}
            <ul style="list-style: none;">
                {% for tag in top_tags %}
                <li style="list-style-type: none;">
                    <u>
                        {{tag}}
                    </u>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <nav style="display: flex; justify-content: center; border-top: 2px solid;">
        <ul>
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">&lt</a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <li>{{ page }}</li>
            {% elif page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
            <li>
                <a href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}">&gt</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</main>
</body>
</html>