.alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}

.horizontal-list {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.horizontal-list li {
    display:inline;
    margin-right: 10px;
}